* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: oklch(25.8% 0.092 26.042);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: oklch(39.6% 0.141 25.723);
    width: 384px;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
}

h1, p, a {
    color: #FFF;
}

div img {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 150px;
}

div h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 4px;
}

div strong {
    color: #C4F82A;
    font-size: 14px;
    line-height: 21px;
}

div p {
    margin-block: 24px;
    font-size: 14px;
    line-height: 21px;
}

div a + a {
    margin-top: 16px;
}

div a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    background-color: #333333;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

div a:hover {
    background-color: #C4F82A;
    color: #141414;
    transition: 0.7s;
}